            </div>
        </div>

        <footer class="footer">
            <div class="container">
                <div class="site-title-wrapper">
                    <h1 class="site-title">
                        <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
                    </h1>
                    <a class="button-square button-jump-top js-jump-top" href="#top" aria-label="Back to Top">
                        <i class="fa fa-angle-up" aria-hidden="true"></i>
                    </a>
                </div>

                <p class="footer-copyright">
                    <span>&copy; {{ .Site.Author.name }} {{ if .Site.Copyright }} {{ .Site.Copyright }} - {{ now.Format "2006"}} {{ else }}asd {{ now.Format "2006"}} {{end}}</span>
                </p>
            </div>
        </footer>
    </body>
</html>
